body {
    background: black;
}

.date {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-30%);
    color: #ffffff;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;
    text-align: center;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    font-size: 90px;
    font-family: Orbitron;
    letter-spacing: 7px;
    text-align: center;
}
